### range(start,stop,step)

**Aritmetik olarak artan ya da azalan, belirli bir sırada birbirini izleyen dizilerdir.
Başlangıç değeri her durumda belli ancak bitiş değeri değişken olabilir.**

In [1]:
# Stop değeri argument olarak verilmiş
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [2]:
#Start ve Stop değeri argument olarak verilmiş
list(range(3, 7))

[3, 4, 5, 6]

In [10]:
#Start, Stop ve Step değerleri argument olarak verilmiş
x = range(3, 16, 2) 
print(type(x))
for n in x:
  print(n)

<class 'range'>
3
5
7
9
11
13
15

### str String

**len()** çok kullanılan bir fonksiyondur. Dizinin kaç karakterden oluştuğunu söyler.

In [13]:
str = "DataStructures"
len(str)

14

**index()** içerisine parameter olarak aldığı karakteri Str üzerinde arar ve bulduğu indis değerini döner.

In [14]:
str.index('S')

4

**join()** Str’leri concatenation için kullanılır. Aslında join fonksiyonu başında bulunan parametreyi Str’lerin arasına koyarak birleştirme yapar.

In [15]:
str1 = 'Batman'
str2 = 'The Dark Knight'
str3 = ' '.join([str1,str2])
str3

'Batman The Dark Knight'

Aynı zamanda Str’ler “+” operatörü ile birleştirilebilir.

In [16]:
str = 'The Good ' + 'The Bad ' + 'and The Ugly'
str

'The Good The Bad and The Ugly'

**split()** Str’leri aralarındaki karakterlere göre ayırıp bir diziye dönüştürür.

In [20]:
str = 'The Good The Bad and The Ugly'
str.split(' ')

['The', 'Good', 'The', 'Bad', 'and', 'The', 'Ugly']

**strip()** Str veri yapısı içerisinde, başta ve sonda boşluk karakterlerini yok eder.

In [21]:
str = '          The Good The Bad and The Ugly            '
str.strip()

'The Good The Bad and The Ugly'

**partition()** işlevini kullanmak ise diziyi ön ek, ayırıcıları ve son ek olmak üzere böler.

In [25]:
str = 'Ankara:İstanbul:Saat:15:30'.partition(':')
print(type(str))
str

<class 'tuple'>

('Ankara', ':', 'İstanbul:Saat:15:30')

istersek tuple partition'ı değişkenlere böleriz

In [27]:
source, separator, destination = 'Ankara:İstanbul'.partition(':')
source

'Ankara'

**replace()** fonksiyonu kullanılarak Str veri yapısı içindeki herhangi karakter dizisini başka bir dizi ya da karakter ile değiştirebiliriz.

In [28]:
example = "Java Programlama Dili"
example = example.replace("Java","Python")
example

'Python Programlama Dili'

In [29]:
example2 = "Python Programlama Dili"
example2 = example.replace(" ","-")
example2

'Python-Programlama-Dili'

### Tuple
Tuple veri yapısı, homojen yapıda ve değişmez tiplerdir. Yani, Java programlama dilinde bir Array oluştururken tip belirtmeniz gerekir; Integer bir Array ise içine String bir değişken yazamazsınız. Ancak bu kural, burada geçerli değil. Bir Tuple içerisinde hem Str hem de bir sayı bulunabilir. Değişmez derken kastımız ekleme, çıkarma gibi işlemler yapılamayacağıdır. Yani bir kez Tuple yaratırsınız ve Update edemezsiniz. Şimdi syntax’ına göz atalım.

In [30]:
x = ('Alper', 5 , 3.14, 25)
type(x)

tuple

In [31]:
x[2]

3.14

In [32]:
len(x)

4

Aynı zamanda Tuple, herhangi bir objeyi içerebildiğinden “Nested” yani iç içe şekilde olabilir. Buna iki boyutlu bir diziye erişir gibi erişebiliriz.

In [33]:
y = (1991, 2.37, ("TR", "TBMM"))
y[2][0]

'TR'

Tuple list veri yapısına dönüştürülerek kolayca manipüle edilebilir.

In [37]:
example = (1,2,3,4)
print(type(example))
example

<class 'tuple'>

(1, 2, 3, 4)

In [36]:
example2 = list(example)
print(type(example2))
example2

<class 'list'>

[1, 2, 3, 4]

Tersi de yapılabilir

In [39]:
a = [1, 2, 3, 4, 5]
b = tuple(a)
type(b)

tuple

### Set

İçinde eşsiz elemanlar bulunduran veri yapısıdır. Değişmez nesnelerden oluşmaktadır. Yani bir küme üzerinde bulunan bir nesnede değişiklik yapamazsınız. Aynı şekilde bir Set koleksiyonuna aynı elemanı ekleyemezsiniz.

In [41]:
example = {'s', 'e', 't'} 
type(example)

set

In [42]:
example.add('a')
example

{'a', 'e', 's', 't'}

In [44]:
example.add('s') #aynı harfi 2.defa eklemiyor
example

{'a', 'e', 's', 't'}

Set veri yapısı, yaygın olarak, kopya elemanları verimli bir şekilde çıkarmak için kullanılır.

list veri yapısından set yaratmak da mümkündür.

In [49]:
example = [1, 2, 2, 3, 4, 4, 5]
print(type(example))
example

<class 'list'>

[1, 2, 2, 3, 4, 4, 5]

In [47]:
s = set(example)
print(type(s))
s

<class 'set'>

{1, 2, 3, 4, 5}

set tanımı yapılır ve **update()** fonksiyonu ile ona bir list eklenebilir

In [51]:
s = {1, 2, 3, 4, 6}
s.update([7, 8, 3, 10])
s

{1, 2, 3, 4, 6, 7, 8, 10}

Bir setten eleman silmek ise iki farklı fonksiyon ile gerçekleşebilir. Discard ve Remove fonksiyonları set üzerinden eleman silebilir. Temel fark, **remove()** fonksiyonu olmayan bir elemanı silmek istersek, bize error dönecektir. Ancak **discard()** fonksiyonu olmayan elemanı silmek istersek, set üzerinde hiçbir işlem yapmayacaktır.

In [57]:
x = {1, 2, 3, 4, 6, 7, 8, 9, 10}
#x.remove(99) hata verir
x.discard(99) #hata vermez

Küme üzerinde, temel matematikte olduğu gibi kesişim, birleşim, alt küme ve fark işlemleri de yapılabilir.

In [59]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 5}

B.intersection(A) #B kesişim A

{2, 5}

In [61]:
C.issubset(A) #C A'nın alt kümesi midir?

True

### List

Değişebilen elemanlardan oluşan bir koleksiyondur. Liste diğer programlama dillerinde Array’e benzese de tek bir tip veriden oluşmadığından Python’da başka bir anlam ifade etmektedir. Yani içine hem Integer sayı, hem de Str nesne koyabildiğiniz bir veri koleksiyonudur. List’in içerisinde bulunan elemanların değerleri veya kendileri değişebilmektedir.

In [62]:
example = [1,2,3,4]
type(example)

list

In [63]:
example2 = ['alper',1,2,3,4,'guven']
example2

['alper', 1, 2, 3, 4, 'guven']

In [64]:
example = ['Tinker', 'Tailor', 'Soldier', 'Spy']
example[2]

'Soldier'

In [65]:
example[-1]

'Spy'

Listeye ekleme, çıkarma ve güncelleme

In [66]:
example = ['House']
example

['House']

In [67]:
example.append('of')
example.append('Cards')
example

['House', 'of', 'Cards']

In [70]:
example[0] = 'The House'
example

['The House', 'of', 'Cards']

In [71]:
del example[2]
del example[1]
example

['The House']

Listeyi Slice Etmek (dilimlemek)

In [73]:
example = ['Itirazım', 'Var', 'Ölümlü', 'Dünya']
example[:3]

['Itirazım', 'Var', 'Ölümlü']

In [74]:
example[1:3]

['Var', 'Ölümlü']

Listeyi Extend Etmek (genişletmek)

In [79]:
example = [3, 4, 5]
example = example + [6, 7]
example

[3, 4, 5, 6, 7]

In [80]:
example = [3, 4, 5]
example += [6, 7] 
example

[3, 4, 5, 6, 7]

In [81]:
example.extend([10, 20])
example

[3, 4, 5, 6, 7, 10, 20]

List üzerinde pop (stack veri yapısı gibi), reverse ve sort fonksiyonları

In [82]:
example = [3, 4, 5, 6, 7]
example.pop()

7

Stack özelliği gibi değil index ile eleman pop etmek

In [83]:
example.pop(2)

5

In [85]:
example = [3, 4, 5, 6, 7]
example.reverse()
example

[7, 6, 5, 4, 3]

Sort ile sıralama

In [87]:
example = [123, 456, 3421, 5, 11]
example.sort()
example

[5, 11, 123, 456, 3421]

### Dictionary

Unique yani eşsiz, sırasız ve değişmez Key’lere (anahtar -> değer), değişebilir Value’ların maplenmesi ile oluşan koleksiyondur. Daha farklı bir ifade ile key-value çiftleri şeklinde veriler tutulur, value işaret eden key’ler değişmez ve esşiz olurlar.

In [103]:
example =   {'Twitter': 'www.twitter.com', 'Medium': 'www.medium.com'}
print(type(example))
example['Twitter']

<class 'dict'>

'www.twitter.com'

Dict üzerinde Iteraton yapmak

In [104]:
example =   {'Twitter': 'www.twitter.com', 'Medium': 'www.medium.com'}
for key, value in example.items():
    print(f'{key} -> {value}')

Twitter -> www.twitter.com
Medium -> www.medium.com

In [105]:
# Yanlızca Key print olur
for state in example:
    print(state)

Twitter
Medium

In [107]:
#Yanlızca Value print olur
for value in example.values():
    print(value)

www.twitter.com
www.medium.com

Dict üzerinde Update işlemi

In [108]:
example =   {'Twitter': 'www.twitter.com', 'Medium': 'www.medium.com'}
example['Twitter'] = 'https://www.twitter.com'
example

{'Twitter': 'https://www.twitter.com', 'Medium': 'www.medium.com'}

Dictinory yani Python diliyle Dict koleksiyonu kullanmaya, bir map’leme işleme yapılacak ise veya key-value şeklinde veri ilişkileri varsa ihtiyaç duyulur.